body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background: rgb(91, 130, 179);
  background: linear-gradient(
    90deg,
    rgba(91, 130, 179, 1) 0%,
    rgba(227, 255, 243, 1) 74%
  );
}

code {
  font-family: "Roboto", sans-serif;
}
