.NewTodoForm-form {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.NewTodoForm-form label {
  float: left;
  font-weight: 300;
}

.NewTodoForm-form input {
  font-weight: 400;
}

.NewTodoForm button {
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #fcfcfc;
}

.NewTodoForm button:hover {
  background-color: #fcfcfc;
  color: #e73838;
}

@media only screen and (max-width: 328px) {
  .NewTodoForm-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
